# basic project config
PORT=5000
NODE_ENV=development

# database config
MONGO_URI=mongodb+srv://username:password@clustername.mongodb.net/IMS-DB?retryWrites=true&w=majority

# ADMIN CONFIGURATION
ADMIN_NOTIFICATION_EMAIL=admin@your-domain.com
COMPANY_NAME="Advanced Inventory Management System"
LOGO_URL=https://your-domain.com/assets/logo.png
SUPPORT_EMAIL=support@your-domain.com
SUPPORT_PHONE=+8801234567890
CLIENT_URL=http://localhost:3000
DOMAIN=localhost

# Security & Auth
# Use node -e "console.log(require('crypto').randomBytes(64).toString('hex'))" to generate secrets
ACCESS_TOKEN_SECRET=your_access_token_secret_key
REFRESH_TOKEN_SECRET=your_refresh_token_secret_key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
BCRYPT_SALT_ROUNDS=12

# SMPT dynamic config 
SMTP_USER=provide_smtp_email_address_for_sending_emails
SMTP_PASS=provide_smtp_email_password_or_app_password
RECEIVER_EMAIL=provide_the_email_address_where_you_want_to_receive_emails

# cloudinary config
CLOUDINARY_CLOUD_NAME=provide_your_cloudinary_cloud_name
CLOUDINARY_API_KEY=provide_your_cloudinary_API_key
CLOUDINARY_API_SECRET=provide_your_cloudinary_API_secret

# API Config
API_VERSION=v1
BACKEND_API_URL=http://localhost:5000/api/v1

# Super Admin Setup
SUPER_ADMIN_EMAIL=provide_the_email_address_for_the_super_admin
SUPER_ADMIN_PASSWORD=provide_a_strong_password_for_the_super_admin